<h2>Find</h2>
<%= form_for :post, :url => { :action => 'skills_find', :controller => 'skills'} do |f| %>
<% @skillsAll.each do |sa| %>
	<%= f.check_box sa.id %>
	<%= f.label sa.name %>
<% end %>
<br>
<%= f.submit 'Show', id: 'butFindSkills' %>
<% end %>
<br>
<% if @userSkillsName %>
	<% User.where(id: @userSkillsName).each do |showUS| %>
		<b><%= showUS.firstname %>
		<%= showUS.lastname %></b>
		<br>
		<% @skillsCurrent = SkillsTerc.where(id: UskillsTerc.where(id_users: showUS.id).select(:id_skills)) %>
		<% @skillsCurrent.each do |showSN| %>
			<i><%= showSN.name %>,</i>
		<% end %>
		<br>
	<% end %>
<% end %>